nav{
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
}


.navsubheading{
  color: rgb(211, 209, 209);
  font-size : 16px;
  letter-spacing: .1rem;
  margin-left: .2rem;
  margin-bottom: 0;
}

.logoimage{
  width: 50px;
  height: 50px;
}

.logoimage:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.logoheading{
  margin-top: 5px;
  margin-left:10px;
}

.logoheading:hover{
  transform: scale(.9);
  transition: transform 0.2s ease-in-out;
}

.navlist{
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

.bg{
  background-image:url("../assets/images/civilp1.png");
  width:100%;
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {
  background-image: url("../assets/images/civilp1.png");
  background-size: cover;          /* Resizes to fill entire area */
  background-position: center;      /* Keeps the focal point centered */
  background-repeat: no-repeat;     /* Prevents tiling */

  width: 100%;
  min-height: 100svh;               /* Use 'svh' for better mobile support */

  /* Fallback color for accessibility and slow loading */
  background-color: #333;
}

li:hover{
  transform:scale(.9);
  transition: transform 0.2s ease-in-out;

}
